# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Production Build
# =========================
dist/
dist-ssr/

# =========================
# Environment Files
# =========================
.env
.env.local
.env.*.local
!.env.example

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# =========================
# Vite Cache
# =========================
.vite
.cache

# =========================
# Docker
# =========================
docker-compose.override.yml
docker-data/
*.pid
*.sock

# =========================
# Testing
# =========================
coverage/
